@import "reset";
@import "colors";
@import "mixins";
body {
	font-family: 'Lato', sans-serif;
	color: $text;
	font-size: 1.2em;
	line-height: 1.618em;
}

.landing {
	width: 100%;
	height: auto;
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
	background-position: bottom;
	float: left;
	text-align: center;
	.logo {
		margin: 0 auto;
		margin-top: 50px;
		display: block;
		width: 150px;
	}
	.banner-image {
		width: 100%;
		display: block;
	}
	.caption {
		margin-top: 30px;
		text-align: center;
		font-size: 1.2em;
	}
}

.content {
	width: 100%;
	float: left;
	.caption {
		margin: 0 auto;
		text-align: center;
		width: 60%;
		font-size: 1.2em;
		margin-top: 200px;
		margin-bottom: 200px;
		@include mobile {
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}

.container {
	width: 960px;
	margin: 0 auto;
	&.usp {
		margin-top: 50px;
	}
	&.usp:first-child {
		margin-top: 500px;
	}
	&.usp .header {
		margin-top: 8em;
		font-size: 1.6em;
		@include mobile {
			margin-top: 0em;
		}
	}
	&.usp .point {
		margin-top: 2em;
	}
	&.usp.left>img {
		width: 50%;
		float: left
	}
	&.usp.left>.description {
		width: 40%;
		float: right;
		@include mobile {
			float: left;
			padding: 5%;
		}
	}
	&.usp.right>img {
		width: 50%;
		float: right
	}
	&.usp.right>.description {
		width: 40%;
		float: left;
		@include mobile {
			float: left;
			padding: 5%;
		}
	}
	@include mobile {
		width: 90%;
		padding: 5%;
	}
}

.foot {
	width: 100%;
	float: left;
	background: $navy;
	padding: 100px 0;
	color: white;
	text-align: center;
	.header {
		font-size: 1.6em;
		margin-bottom: 50px;
	}
}

.button {
	clear: both;
	background: $primary;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	padding: 15px 50px;
	display: inline-block;
	margin-top: 70px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
	&:hover {
		background: darken($primary, 10%);
	}
	&.rounded {
		background: white;
		color: $navy;
		border-radius: 200px;
	}
	&.rounded:hover {
		background: lighten($navy, 10%);
		color: white;
	}
}

.clear {
	clear: both;
}
