<style type="text/css">
	body {
	background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #2980b9, #2c3e50);
    background: -o-linear-gradient(left, #2980b9, #2c3e50);
    background: linear-gradient(to right, #2980b9, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	text-align: center;
	font-size: 1em;
	font-weight: 100;
	font-family: 'ColabThi';
}
	p {
		font-size: 15em;
		vertical-align: middle;
		margin-top: 20%;
	}
</style>
<p>
{{count | json }} Users...
</p>